@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Comfortaa", cursive;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 100%;
  height: 120px;
  padding-top: 25px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.title {
  font-size: 35px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .title {
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.button {
  width: 80px;
  height: 45px;
  background: #e9e9e9;
  border: 1px solid red;
  border-radius: 15px;
}

.button:hover {
  background: #d3d3d3;
}

.main {
  background: #d3d3d3;
  min-height: 100%;
  min-width: 100%;
}

.container {
  height: 100%;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 300px;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .container {
    max-width: 460px;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .container {
    max-width: 620px;
  }
}
@media screen and (min-width: 769px) and (max-width: 979px) {
  .container {
    max-width: 749px;
  }
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1180px;
  }
}

.created {
  padding-top: 25px;
}

.created_card {
  display: none;
  border: 1px solid black;
  width: 350px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .created_card {
    max-width: 300px;
    max-height: 220px;
  }
}

.created_title {
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
}

.form {
  font-size: 20px;
  border-radius: 5px;
  height: 25px;
  width: 95%;
  margin-left: 5px;
  margin-bottom: 15px;
}

.form:focus {
  border: 2px solid black;
}

.create_button {
  margin-top: 15px;
  width: 150px;
  margin-left: 15px;
  height: 30px;
  border-radius: 5px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .create_button {
    width: 100px;
    margin-top: 0px;
  }
}

.create_button:hover {
  background: white;
}

.card,
.card_back {
  border: 1px solid black;
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
  width: 350px;
  height: 200px;
  margin-top: 15px;
}

.header_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid black;
  height: 25px;
}

.answer_show,
.question_show {
  border-radius: 5px;
  margin-left: 5px;
  background-color: #d3d3d3;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
  position: absolute;
}

.questio_show:hover {
  color: green;
}

.answer_show:hover {
  color: green;
}

.fa-circle-xmark {
  font-size: 20px;
  margin-top: 2px;
  margin-right: 5px;
  position: absolute;
  margin-left: 323px;
}

.fa-circle-xmark:hover {
  cursor: pointer;
  color: red;
}

.front,
.back {
  width: 350px;
  height: 175px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
  position: absolute;
}

.front,
.answer_show {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.back,
.question_show {
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
}

.matter,
.reply {
  padding-top: 5px;
  padding-left: 5px;
  word-break: break-all;
  text-align: center;
}